/* General */

body {
	background-color: #b0b0b0;
	background: url(''); top left;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

/* Utility */

.special {
	display: inline-block;
	padding: 10px;
	color: #0099ff;
	box-shadow: 0 0 3px #a0a0a0;
}

.container {
	margin: 0 auto;
	width: 1000px;
}

.std_heading_1 {
	font-size: 55px;
}

.std_heading_2 {
	font-size: 50px;
}

.std_heading_3 {
	font-size: 45px;
}

.std_heading_4 {
	font-size: 40px;
}

.std_heading_5 {
	font-size: 35px;
}

.std_heading_6 {
	font-size: 30px;
}

.std_btn_big {
	border-radius: 5px;
	background-color: #a0a0a0;
	margin: 15px 0 15px 0;
	box-shadow: 0 0 3px #a0a0a0;
	text-align: center;
	height: 150px;
	width: 350px;
}

.btn_medium {
	border-radius: 5px;
	background-color: #a0a0a0;
	margin: 15px 0 15px 0;
	box-shadow: 0 0 3px #a0a0a0;
	text-align: center;
	height: 100px;
	width: 250px;
}

.btn_small {
	border-radius: 5px;
	background-color: #a0a0a0;
	margin: 15px 0 15px 0;
	box-shadow: 0 0 3px #a0a0a0;
	text-align: center;
	height: 50px;
	width: 150px;
}

.std_btn_big a:hover {
	background: #808080;
	box-shadow: 0 0 3px #808080;
}

